USE [master]
GO
/****** Object:  Database [Online_Booking_System]    Script Date: 9/25/2023 9:14:12 AM ******/
CREATE DATABASE [Online_Booking_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Online_Booking_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Online_Booking_System.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Online_Booking_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Online_Booking_System_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Online_Booking_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Online_Booking_System]
GO
/****** Object:  User [Booking]    Script Date: 9/25/2023 9:14:12 AM ******/
CREATE USER [Booking] FOR LOGIN [Booking] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Additional_ch_config]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Additional_ch_config](
	[additional_ch_id] [int] IDENTITY(1,1) NOT NULL,
	[charges_title] [nvarchar](50) NULL,
	[amount] [decimal](18, 0) NULL,
	[policy_id] [int] NULL,
	[vanue_id] [int] NULL,
 CONSTRAINT [PK_Additional_ch_config] PRIMARY KEY CLUSTERED 
(
	[additional_ch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[bank]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank](
	[bank_id] [int] IDENTITY(1,1) NOT NULL,
	[bank_name] [nvarchar](50) NULL,
	[Account_title] [nvarchar](50) NULL,
	[Account_no] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_bank] PRIMARY KEY CLUSTERED 
(
	[bank_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[booking_schedule]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_schedule](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[policy_id] [int] NULL,
	[booking_type_id] [int] NULL,
	[shift_id] [int] NULL,
	[day_id] [int] NULL,
	[charges_amount] [decimal](18, 0) NULL,
	[schedule_status] [bit] NULL,
	[created_date] [date] NULL,
	[user_id] [int] NULL,
	[team_category_id] [int] NULL,
 CONSTRAINT [PK_booking_schedule] PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[booking_type]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[booking_type](
	[booking_type_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_type] [varchar](100) NULL,
	[booking_type_status] [bit] NULL,
	[vanue_id] [int] NULL,
 CONSTRAINT [PK_booking_type] PRIMARY KEY CLUSTERED 
(
	[booking_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[customer]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[cnic] [nvarchar](50) NOT NULL,
	[mobile_no] [nvarchar](50) NOT NULL,
	[created_date] [date] NOT NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[customer_booking]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_booking](
	[customer_booking_id] [int] IDENTITY(1,1) NOT NULL,
	[Booking_no] [int] NOT NULL,
	[schedule_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[is_paid] [bit] NOT NULL,
	[is_reservation] [bit] NOT NULL,
	[is_confirmed] [bit] NOT NULL,
	[total_amount] [decimal](18, 0) NOT NULL,
	[booking_date] [date] NOT NULL,
	[created_date] [date] NOT NULL,
	[user_id] [int] NOT NULL,
	[update_by_id] [int] NULL,
	[update_date] [date] NULL,
	[transaction_date] [date] NULL,
 CONSTRAINT [PK_customer_booking] PRIMARY KEY CLUSTERED 
(
	[customer_booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[customer_booking_addl_ch]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_booking_addl_ch](
	[cus_booking_addl_ch_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_booking_id] [int] NULL,
	[additional_ch_id] [int] NULL,
	[amount] [decimal](18, 0) NULL,
 CONSTRAINT [PK_customer_booking_addl_ch] PRIMARY KEY CLUSTERED 
(
	[cus_booking_addl_ch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[directorate]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[directorate](
	[dte_id] [int] IDENTITY(1,1) NOT NULL,
	[dte_name] [nvarchar](50) NULL,
	[dte_status] [bit] NULL,
 CONSTRAINT [PK_directorate] PRIMARY KEY CLUSTERED 
(
	[dte_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[holiday]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[holiday](
	[holiday_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[holiday_date] [date] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_holiday] PRIMARY KEY CLUSTERED 
(
	[holiday_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[policy]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[policy](
	[policy_id] [int] IDENTITY(1,1) NOT NULL,
	[policy_title] [varchar](50) NULL,
	[policy_year] [varchar](50) NULL,
	[policy_status] [bit] NULL,
 CONSTRAINT [PK_policy] PRIMARY KEY CLUSTERED 
(
	[policy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[shift]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[shift](
	[shift_id] [int] IDENTITY(1,1) NOT NULL,
	[shift_title] [varchar](50) NULL,
	[shift_status] [bit] NULL,
	[time_from] [nvarchar](50) NULL,
	[time_to] [nvarchar](50) NULL,
	[season] [nvarchar](50) NULL,
 CONSTRAINT [PK_shift] PRIMARY KEY CLUSTERED 
(
	[shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[team_category]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[team_category](
	[team_category_id] [int] IDENTITY(1,1) NOT NULL,
	[team_title] [nvarchar](50) NULL,
	[team_status] [bit] NULL,
 CONSTRAINT [PK_team_category] PRIMARY KEY CLUSTERED 
(
	[team_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](max) NULL,
	[record_status] [bit] NULL,
	[dte_id] [int] NULL,
	[created_date] [date] NULL,
	[email] [nvarchar](50) NULL,
	[Emp_Name] [nvarchar](50) NULL,
	[DHA_No] [nvarchar](50) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user_role]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role] [nvarchar](50) NULL,
	[record_status] [bit] NULL,
 CONSTRAINT [PK_user_role] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[vanue]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vanue](
	[vanue_id] [int] IDENTITY(1,1) NOT NULL,
	[vanue_title] [varchar](50) NULL,
	[vanue_status] [bit] NULL,
 CONSTRAINT [PK_vanue] PRIMARY KEY CLUSTERED 
(
	[vanue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[week_days]    Script Date: 9/25/2023 9:14:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[week_days](
	[day_id] [int] IDENTITY(1,1) NOT NULL,
	[day] [varchar](20) NULL,
	[day_status] [bit] NULL,
 CONSTRAINT [PK_week_days] PRIMARY KEY CLUSTERED 
(
	[day_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Additional_ch_config] ON 

INSERT [dbo].[Additional_ch_config] ([additional_ch_id], [charges_title], [amount], [policy_id], [vanue_id]) VALUES (1, N'sofa', CAST(1000 AS Decimal(18, 0)), 1, 1043)
INSERT [dbo].[Additional_ch_config] ([additional_ch_id], [charges_title], [amount], [policy_id], [vanue_id]) VALUES (2, N'chairs', CAST(2000 AS Decimal(18, 0)), 1, 1043)
INSERT [dbo].[Additional_ch_config] ([additional_ch_id], [charges_title], [amount], [policy_id], [vanue_id]) VALUES (4, N'ASD', CAST(4000 AS Decimal(18, 0)), 1, 1043)
SET IDENTITY_INSERT [dbo].[Additional_ch_config] OFF
SET IDENTITY_INSERT [dbo].[bank] ON 

INSERT [dbo].[bank] ([bank_id], [bank_name], [Account_title], [Account_no], [status]) VALUES (1, N'AKBL', N'(ACMS) DHA Q BALLOT-I INSTALMENTS', NULL, 1)
INSERT [dbo].[bank] ([bank_id], [bank_name], [Account_title], [Account_no], [status]) VALUES (2, N'HBL', N'DHAQ BAL-I INST - 0042-79919733-03', N'0042-79919733-03', 1)
INSERT [dbo].[bank] ([bank_id], [bank_name], [Account_title], [Account_no], [status]) VALUES (3, N'HBL', N'DEFENCE HOUSING AUTHORITY QUETTA', N'0899-79002795-03', 0)
SET IDENTITY_INSERT [dbo].[bank] OFF
SET IDENTITY_INSERT [dbo].[booking_schedule] ON 

INSERT [dbo].[booking_schedule] ([schedule_id], [policy_id], [booking_type_id], [shift_id], [day_id], [charges_amount], [schedule_status], [created_date], [user_id], [team_category_id]) VALUES (2890, 1, 2063, 9, 8, CAST(0 AS Decimal(18, 0)), 0, CAST(N'2023-09-20' AS Date), 3022, 1)
INSERT [dbo].[booking_schedule] ([schedule_id], [policy_id], [booking_type_id], [shift_id], [day_id], [charges_amount], [schedule_status], [created_date], [user_id], [team_category_id]) VALUES (2891, 1, 2063, 9, 8, CAST(4000 AS Decimal(18, 0)), 1, CAST(N'2023-09-20' AS Date), 18, 2)
INSERT [dbo].[booking_schedule] ([schedule_id], [policy_id], [booking_type_id], [shift_id], [day_id], [charges_amount], [schedule_status], [created_date], [user_id], [team_category_id]) VALUES (2892, 1, 2063, 9, 8, CAST(6000 AS Decimal(18, 0)), 1, CAST(N'2023-09-20' AS Date), 18, 3)
SET IDENTITY_INSERT [dbo].[booking_schedule] OFF
SET IDENTITY_INSERT [dbo].[booking_type] ON 

INSERT [dbo].[booking_type] ([booking_type_id], [booking_type], [booking_type_status], [vanue_id]) VALUES (2063, N'T20', 1, 1043)
SET IDENTITY_INSERT [dbo].[booking_type] OFF
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([customer_id], [name], [cnic], [mobile_no], [created_date]) VALUES (3122, N'ABC', N'5440056985624', N'03334589665', CAST(N'2023-09-22' AS Date))
INSERT [dbo].[customer] ([customer_id], [name], [cnic], [mobile_no], [created_date]) VALUES (3123, N'weew', N'2333333333333', N'23333333333', CAST(N'2023-09-22' AS Date))
INSERT [dbo].[customer] ([customer_id], [name], [cnic], [mobile_no], [created_date]) VALUES (3124, N'uygyug', N'7878787878787', N'89999999999', CAST(N'2023-09-22' AS Date))
SET IDENTITY_INSERT [dbo].[customer] OFF
SET IDENTITY_INSERT [dbo].[customer_booking] ON 

INSERT [dbo].[customer_booking] ([customer_booking_id], [Booking_no], [schedule_id], [customer_id], [is_paid], [is_reservation], [is_confirmed], [total_amount], [booking_date], [created_date], [user_id], [update_by_id], [update_date], [transaction_date]) VALUES (39, 10001, 2915, 3166, 1, 1, 1, CAST(4000 AS Decimal(18, 0)), CAST(N'2023-09-24' AS Date), CAST(N'2023-09-24' AS Date), 3022, 3022, CAST(N'2023-09-24' AS Date), NULL)
INSERT [dbo].[customer_booking] ([customer_booking_id], [Booking_no], [schedule_id], [customer_id], [is_paid], [is_reservation], [is_confirmed], [total_amount], [booking_date], [created_date], [user_id], [update_by_id], [update_date], [transaction_date]) VALUES (40, 10002, 2958, 3167, 1, 1, 1, CAST(10000 AS Decimal(18, 0)), CAST(N'2023-09-24' AS Date), CAST(N'2023-09-24' AS Date), 3022, 3022, CAST(N'2023-09-24' AS Date), NULL)
INSERT [dbo].[customer_booking] ([customer_booking_id], [Booking_no], [schedule_id], [customer_id], [is_paid], [is_reservation], [is_confirmed], [total_amount], [booking_date], [created_date], [user_id], [update_by_id], [update_date], [transaction_date]) VALUES (41, 10003, 2943, 3168, 1, 1, 1, CAST(4000 AS Decimal(18, 0)), CAST(N'2023-09-24' AS Date), CAST(N'2023-09-24' AS Date), 3022, 3022, CAST(N'2023-09-24' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[customer_booking] OFF
SET IDENTITY_INSERT [dbo].[customer_booking_addl_ch] ON 

INSERT [dbo].[customer_booking_addl_ch] ([cus_booking_addl_ch_id], [customer_booking_id], [additional_ch_id], [amount]) VALUES (13, 39, 1, CAST(1000 AS Decimal(18, 0)))
INSERT [dbo].[customer_booking_addl_ch] ([cus_booking_addl_ch_id], [customer_booking_id], [additional_ch_id], [amount]) VALUES (14, 41, 1, CAST(1000 AS Decimal(18, 0)))
INSERT [dbo].[customer_booking_addl_ch] ([cus_booking_addl_ch_id], [customer_booking_id], [additional_ch_id], [amount]) VALUES (15, 41, 2, CAST(2000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[customer_booking_addl_ch] OFF
SET IDENTITY_INSERT [dbo].[directorate] ON 

INSERT [dbo].[directorate] ([dte_id], [dte_name], [dte_status]) VALUES (1, N'T&R DTE', 1)
INSERT [dbo].[directorate] ([dte_id], [dte_name], [dte_status]) VALUES (2, N'M&T DTE', 1)
INSERT [dbo].[directorate] ([dte_id], [dte_name], [dte_status]) VALUES (4, N'TP&BC', 1)
SET IDENTITY_INSERT [dbo].[directorate] OFF
SET IDENTITY_INSERT [dbo].[policy] ON 

INSERT [dbo].[policy] ([policy_id], [policy_title], [policy_year], [policy_status]) VALUES (1, N'Cricket Policy', N'2023', 1)
SET IDENTITY_INSERT [dbo].[policy] OFF
SET IDENTITY_INSERT [dbo].[shift] ON 

INSERT [dbo].[shift] ([shift_id], [shift_title], [shift_status], [time_from], [time_to], [season]) VALUES (9, N'MORNING', 1, N'08:00', N'12:00', N'SUMMER')
INSERT [dbo].[shift] ([shift_id], [shift_title], [shift_status], [time_from], [time_to], [season]) VALUES (13, N'EVENING', 1, N'02:00', N'06:00', N'SUMMER')
INSERT [dbo].[shift] ([shift_id], [shift_title], [shift_status], [time_from], [time_to], [season]) VALUES (18, N'NIGHT Flood Lights', 1, N'10:00', N'03:00', N'SUMMER')
SET IDENTITY_INSERT [dbo].[shift] OFF
SET IDENTITY_INSERT [dbo].[team_category] ON 

INSERT [dbo].[team_category] ([team_category_id], [team_title], [team_status]) VALUES (1, N'OFFICIAL MATCH', 1)
INSERT [dbo].[team_category] ([team_category_id], [team_title], [team_status]) VALUES (2, N'DHA TEAMS', 1)
INSERT [dbo].[team_category] ([team_category_id], [team_title], [team_status]) VALUES (3, N'non-DHA Teams', 1)
SET IDENTITY_INSERT [dbo].[team_category] OFF
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([user_id], [role_id], [username], [password], [record_status], [dte_id], [created_date], [email], [Emp_Name], [DHA_No]) VALUES (1, 3, N'asif12', N'123', 1, 4, NULL, N'Asif khan', N'Asif khan', NULL)
INSERT [dbo].[user] ([user_id], [role_id], [username], [password], [record_status], [dte_id], [created_date], [email], [Emp_Name], [DHA_No]) VALUES (2, 1, N'salman33', N'salman12', 1, 1, NULL, N'Salman', N'Salman', NULL)
INSERT [dbo].[user] ([user_id], [role_id], [username], [password], [record_status], [dte_id], [created_date], [email], [Emp_Name], [DHA_No]) VALUES (16, 4, N'haseen312', N'323', 1, 14, CAST(N'2023-09-07' AS Date), N'haseeb.ali@gmail.com', N'Haseeb Ali', N'54654')
SET IDENTITY_INSERT [dbo].[user] OFF
SET IDENTITY_INSERT [dbo].[user_role] ON 

INSERT [dbo].[user_role] ([role_id], [role], [record_status]) VALUES (1, N'ADMIN', 1)
INSERT [dbo].[user_role] ([role_id], [role], [record_status]) VALUES (2, N'MANAGER', 1)
INSERT [dbo].[user_role] ([role_id], [role], [record_status]) VALUES (3, N'ASSISTANT', 1)
SET IDENTITY_INSERT [dbo].[user_role] OFF
SET IDENTITY_INSERT [dbo].[vanue] ON 

INSERT [dbo].[vanue] ([vanue_id], [vanue_title], [vanue_status]) VALUES (1043, N'Chiltan Cricket Ground', 1)
INSERT [dbo].[vanue] ([vanue_id], [vanue_title], [vanue_status]) VALUES (3062, N'DHA Orchard', 1)
INSERT [dbo].[vanue] ([vanue_id], [vanue_title], [vanue_status]) VALUES (3067, N'DSDSersf', 0)
SET IDENTITY_INSERT [dbo].[vanue] OFF
SET IDENTITY_INSERT [dbo].[week_days] ON 

INSERT [dbo].[week_days] ([day_id], [day], [day_status]) VALUES (8, N'Monday', 1)
INSERT [dbo].[week_days] ([day_id], [day], [day_status]) VALUES (9, N'Tuesday', 1)
INSERT [dbo].[week_days] ([day_id], [day], [day_status]) VALUES (10, N'Wednesday', 1)
SET IDENTITY_INSERT [dbo].[week_days] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [uq_username]    Script Date: 9/25/2023 9:14:12 AM ******/
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [uq_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Additional_ch_config]  WITH CHECK ADD  CONSTRAINT [FK_Additional_ch_config_policy] FOREIGN KEY([policy_id])
REFERENCES [dbo].[policy] ([policy_id])
GO
ALTER TABLE [dbo].[Additional_ch_config] CHECK CONSTRAINT [FK_Additional_ch_config_policy]
GO
ALTER TABLE [dbo].[Additional_ch_config]  WITH CHECK ADD  CONSTRAINT [FK_Additional_ch_config_vanue] FOREIGN KEY([vanue_id])
REFERENCES [dbo].[vanue] ([vanue_id])
GO
ALTER TABLE [dbo].[Additional_ch_config] CHECK CONSTRAINT [FK_Additional_ch_config_vanue]
GO
ALTER TABLE [dbo].[booking_schedule]  WITH CHECK ADD  CONSTRAINT [FK_booking_schedule_booking_type] FOREIGN KEY([booking_type_id])
REFERENCES [dbo].[booking_type] ([booking_type_id])
GO
ALTER TABLE [dbo].[booking_schedule] CHECK CONSTRAINT [FK_booking_schedule_booking_type]
GO
ALTER TABLE [dbo].[booking_schedule]  WITH CHECK ADD  CONSTRAINT [FK_booking_schedule_policy] FOREIGN KEY([policy_id])
REFERENCES [dbo].[policy] ([policy_id])
GO
ALTER TABLE [dbo].[booking_schedule] CHECK CONSTRAINT [FK_booking_schedule_policy]
GO
ALTER TABLE [dbo].[booking_schedule]  WITH CHECK ADD  CONSTRAINT [FK_booking_schedule_shift] FOREIGN KEY([shift_id])
REFERENCES [dbo].[shift] ([shift_id])
GO
ALTER TABLE [dbo].[booking_schedule] CHECK CONSTRAINT [FK_booking_schedule_shift]
GO
ALTER TABLE [dbo].[booking_schedule]  WITH CHECK ADD  CONSTRAINT [FK_booking_schedule_team_category] FOREIGN KEY([team_category_id])
REFERENCES [dbo].[team_category] ([team_category_id])
GO
ALTER TABLE [dbo].[booking_schedule] CHECK CONSTRAINT [FK_booking_schedule_team_category]
GO
ALTER TABLE [dbo].[booking_schedule]  WITH CHECK ADD  CONSTRAINT [FK_booking_schedule_week_days] FOREIGN KEY([day_id])
REFERENCES [dbo].[week_days] ([day_id])
GO
ALTER TABLE [dbo].[booking_schedule] CHECK CONSTRAINT [FK_booking_schedule_week_days]
GO
ALTER TABLE [dbo].[booking_type]  WITH CHECK ADD  CONSTRAINT [FK_booking_type_vanue] FOREIGN KEY([vanue_id])
REFERENCES [dbo].[vanue] ([vanue_id])
GO
ALTER TABLE [dbo].[booking_type] CHECK CONSTRAINT [FK_booking_type_vanue]
GO
ALTER TABLE [dbo].[customer_booking]  WITH CHECK ADD  CONSTRAINT [FK_customer_booking_booking_schedule] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[booking_schedule] ([schedule_id])
GO
ALTER TABLE [dbo].[customer_booking] CHECK CONSTRAINT [FK_customer_booking_booking_schedule]
GO
ALTER TABLE [dbo].[customer_booking]  WITH CHECK ADD  CONSTRAINT [FK_customer_booking_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[customer_booking] CHECK CONSTRAINT [FK_customer_booking_customer]
GO
ALTER TABLE [dbo].[customer_booking]  WITH CHECK ADD  CONSTRAINT [FK_customer_booking_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[customer_booking] CHECK CONSTRAINT [FK_customer_booking_user]
GO
ALTER TABLE [dbo].[customer_booking_addl_ch]  WITH CHECK ADD  CONSTRAINT [FK_customer_booking_addl_ch_Additional_ch_config] FOREIGN KEY([additional_ch_id])
REFERENCES [dbo].[Additional_ch_config] ([additional_ch_id])
GO
ALTER TABLE [dbo].[customer_booking_addl_ch] CHECK CONSTRAINT [FK_customer_booking_addl_ch_Additional_ch_config]
GO
ALTER TABLE [dbo].[customer_booking_addl_ch]  WITH CHECK ADD  CONSTRAINT [FK_customer_booking_addl_ch_customer_booking] FOREIGN KEY([customer_booking_id])
REFERENCES [dbo].[customer_booking] ([customer_booking_id])
GO
ALTER TABLE [dbo].[customer_booking_addl_ch] CHECK CONSTRAINT [FK_customer_booking_addl_ch_customer_booking]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_directorate] FOREIGN KEY([dte_id])
REFERENCES [dbo].[directorate] ([dte_id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_directorate]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_user_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[user_role] ([role_id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_user_role]
GO
USE [master]
GO
